#!/usr/bin/make -f

# This script uses debhelper by Joey Hess
export DH_VERBOSE=1
export DH_COMPAT=2

build:	build-stamp
build-stamp:
	dh_testdir
	# build package here
	xmkmf -a
	make CDEBUGFLAGS="-O2 -g"
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	-$(MAKE) clean
	dh_clean
	-rm -f Makefile Makefile.bak

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep:	build install
binary-arch:	build install
	dh_testversion 2
	dh_testdir
	dh_testroot 
	dh_installdebconf
	dh_installdirs usr/bin
	cp x2x debian/x2x/usr/bin
	dh_installmanpages
	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_builddeb

binary:	binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary


